body {
    background-color: #fff;
    color: #585858;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    min-width: 340px;
    border-bottom: 1px solid rgba(0,0,0,.06);
}

img {
    max-width: 48px;
    max-height: 48px;
}

main {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.06);
    gap: 12px;
}

.header-text {
    display: flex;
    font-size: 20px;
    font-weight: 900;
}

#critic {
    color: red;
}

input {
    float: left;
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 14px;
}

.name-search, .year-search {
    display: flex;
    margin: 12px;
    flex-direction: column;
}


.search-button {
    text-align: center;
    margin: 12px;
}

label {
    font-weight: bolder;
}
.optional {
    font-weight: 400;
}


.button-24 {
    background: red;
    border: 1px solid red;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 14px;
    font-weight: 800;
    outline: 0;
    padding: 6px 12px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: red;
}

.button-24:active {
    opacity: .5;
}